
/* alatsi-regular - latin */
@font-face {
    font-family: 'Alatsi';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/alatsi-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/alatsi-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/alatsi-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/alatsi-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/alatsi-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/alatsi-v10-latin-regular.svg#Alatsi') format('svg'); /* Legacy iOS */
}



* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .page-frame {
    width: 390px;
    height: 844px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .login-button {
    width: 328px;
    height: 40px;
    font-family: 'Alatsi';
    color: white;
    background: var(--mainGreen1);
    opacity: 1;
    position: absolute;
    bottom: 250px;
    left: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v6_70 {
    width: 51px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 21px;
    left: 140px;
    font-family: 'Alatsi';
    font-weight: Bold;
    font-size: 19px;
    opacity: 1;
    text-align: center;
  }
  .logo {
    width: 156px;
    height: 96px;
    opacity: 1;
    position: absolute;
    top: 216px;
    left: 135px;
    overflow: hidden;
  }
  .logo-life {
    width: 139px;
    color: var(--mainGreen1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: 'Alatsi';
    font-weight: Bold;
    font-size: 64px;
    opacity: 1;
    text-align: center;
  }
  .logo-2 {
    width: 16px;
    color: var(--mainGreen1);
    position: absolute;
    top: 0px;
    left: 110px;
    font-family: 'Alatsi';
    font-weight: Bold;
    font-size: 32px;
    opacity: 1;
    text-align: center;
  }
  .login-div {
    width: 328px;
    height: 130px;
    opacity: 1;
    position: absolute;
    top: 345px;
    left: 30px;
    overflow: hidden;
  }
  .login-input1 {
    width: 328px;
    height: 48px;
    font-family: 'Alatsi';
    color: var(--mainGrey1);
    background: none;
    padding-left: 20px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0.6px solid var(--mainBlue1);
    border-radius: 10px;
    overflow: hidden;
  }

  .login-input2 {
    width: 328px;
    height: 48px;
    font-family: 'Alatsi';
    color: var(--mainGrey1);
    background: none;
    padding-left: 20px;
    opacity: 1;
    position: absolute;
    top: 59px;
    left: 0px;
    border: 0.6px solid var(--mainBlue1);
    border-radius: 10px;
    overflow: hidden;
  }
  .v6_82 {
    width: 120px;
    color: rgba(109,105,105,1);
    position: absolute;
    top: 14px;
    left: 17px;
    font-family: 'Alatsi';
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .v6_83 {
    width: 105px;
    color: rgba(109,105,105,1);
    position: absolute;
    top: 73px;
    left: 17px;
    font-family: 'Alatsi';
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .forget-password {
    width: 150px;
    color: var(--mainGreen1);
    position: absolute;
    top: 111px;
    left: 221px;
    font-family: 'Alatsi';
    border: none;
    background: none;
    font-weight: Regular;
    font-size: 13px;
    opacity: 1;
    text-align: left;
  }
  .bottom-bar {
    width: 390px;
    height: 140px;
    background: var(--mainGreen2);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    left: 0px;
    bottom: 0px;
    overflow: hidden;
  }
  .abondon1 {
    width: 390px;
    height: 140px;
    background: var(--mainGreen2);
    opacity: 0.8500000238418579;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .bottom-head {
    width: 242px;
    color: white;
    position: absolute;
    top: 24px;
    left: 29px;
    font-family: 'Alatsi';
    font-weight: Bold;
    font-size: 22px;
    opacity: 1;
    text-align: left;
  }
  .bottom-body {
    width: 343px;
    color: white;
    position: absolute;
    top: 65px;
    left: 29px;
    font-family: 'Alatsi';
    font-weight: Light;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .top-bar {
    width: 70px;
    height: 8px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 288px;
    overflow: hidden;
  }
  .circle1 {
    border-radius: 50%;
    position: absolute;
    width: 445px;
    height: 406px;
    left: -37px;
    top: -210px;
    background: #4B8173;
    opacity: 0.2;
  }
  .circle2 {
    border-radius: 50%;
    position: absolute;
    width: 342px;
    height: 342px;
    left: 207px;
    top: -175px;
    background: #4B8173;
    opacity: 0.2;
  }
  .v6_104 {
    width: 8px;
    height: 8px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 20px;
    overflow: hidden;
  }
  .v6_105 {
    width: 8px;
    height: 8px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
  }
  .v6_106 {
    width: 8px;
    height: 8px;
    background: rgba(36,107,253,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }



  :root {
    --mainGreen1: #274E45;
    --mainGreen2: #4B8173;
    --mainGreen3: #B1CFC9;
    --mainBlue1: #222E3C;
    --mainBlue2: #455D74;
    --mainOrgange: #F26542;
    --mainYellow: #FEE44C;
    
    --mainGrey1: #6C6A6A;
    --mainGrey2: #F2F2F2;
  }