<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <body>
    <div class="page-frame">

        <div class="home-top">
            <span class="home-username">Contract ID: 27342857</span>
        </div>

        <div>
            <button class="go-back" type="submit" name="logout-button" value="logout">
                <i class="material-icons" style="font-size: 30px; color:white;">keyboard_backspace</i>
            </button>

            <button class="home-logout" type="submit" name="backward" value="back">
                <i class="material-icons" style="font-size: 30px; color:white;">exit_to_app</i>
            </button>
        </div>
        
        <div class="bottom-div">
            <div class="form-div">
                <span class="heading heading-txt">1. Basic Information</span>
                <span class="heading content-txt">Please check the following information and make sure that the user has his/her QR Code of receiving account uploaded.</span>
                    <div class="contract-info-div">
                        <div class="lable-div">
                            <span>Date</span>
                            <br/>
                            <span>Time</span>
                        </div>
                        <div class="input-field-div">
                            <span>2022.12.15</span>
                            <br/>
                            <span>18:00-18:30</span>
                        </div>
                    </div>
                    <div class="contract-info-div">
                        <div class="lable-div">
                            <span>Username</span>
                            <br/>
                            <span>User ID</span>
                            <br/>
                            <span>Receiving Account</span>
                        </div>
                        <div class="input-field-div">
                            <span>Amber01</span>
                            <br/>
                            <span>2374621</span>
                            <br/>
                            <div class="receiving-div"></div>
                        </div>
                    </div>

                    <div class="contract-info-div">
                        
                        <div class="lable-div">
                            <span class="info-title">Staff Name</span>
                        </div>
                        <div class="input-field-div">
                            <span >Alice</span>

                        </div>
                    </div>
            </div>
            <button name="contract-detail-1" value="detail-1" class="create-style">Continue</button>
        </div>
    </div>
  </body>
  <script>
    $('#file-upload').change(function() {
        var i = $(this).prev('label').clone();
        var file = $('#file-upload')[0].files[0].name;
        $(this).prev('label').text(file);
    });
  </script>
</html>