<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <body>
    <div class="page-frame">
        
        <div class="home-top">
            <span class="home-hi">Hi,</span>
            <span class="home-username">Staff name</span>
        </div>

        <button class="home-logout" type="submit" name="logout-button" value="logout">
            <i class="material-icons" style="font-size: 30px; color:white;">exit_to_app</i>
        </button>

        <div class="bottom-div">
            <div class="home-bottom-bar">
                <div id="bar-icons-div">
                    <button type="submit" name="items-page" value="items">
                        <i class="material-icons home-icons" style="font-size: 60px;">storage</i>
                        <span class="home-subtitle">Items</span>
                    </button>
                    <button type="submit" name="contract-page" value="contract">
                        <i class="material-icons home-icons" style="font-size: 60px;">library_books</i>
                        <span class="home-subtitle">Contract</span>
                    </button>
                    <button type="submit" name="reservation-page" value="reservation">
                        <i class="material-icons home-icons" style="font-size: 60px;">access_time</i> 
                        <span class="home-subtitle">Reservation</span>
                    </button>
                </div>
            </div>

            <div class="home-reservation">
                <span class="home-head">Coming Reservation</span>
                <button class="give-reservation" type="submit" name="in-details-page" value="in-details">
                    <div class="icon-div">
                        <i class="material-icons icon-in" style="font-size: 40px;">archive</i>
                        <span class="icon-txt1">IN</span>
                    </div>
                    <div class="info-div">
                        <span class="reservation-name">Alice07 (20676790)</span>
                        <span class="reservation-time">2022.12.15 18:00-18:30</span>
                    </div>
                </button>
                <button class="give-reservation" type="submit" name="out-details-page" value="out-details">
                    <div class="icon-div">
                        <i class="material-icons icon-out" style="font-size: 40px;">unarchive</i>
                        <span class="icon-txt2">OUT</span>
                    </div>
                    <div class="info-div">
                        <span class="reservation-name">Alice07 (20676790)</span>
                        <span class="reservation-time">2022.12.15 18:00-18:30</span>
                    </div>
                </button>
                
            </div>

        </div>


    </div>
  </body>
</html>