<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <body>
    <div class="page-frame">
        
        <div class="home-top">
            <span class="home-hi">Hi,</span>
            <span class="home-username">Staff name</span>
            <div class="home-logout">
                <i class="material-icons" style="font-size: 35px; color:white;">person</i>
            </div>
            
        </div>

      <div class="bottom-div">
          <div class="home-bottom-bar">
            <div class="icons-div">
                <i class="material-icons home-icons" style="font-size: 60px;">archive</i>
                <i class="material-icons home-icons" style="font-size: 60px;">library_books</i>
                <i class="material-icons home-icons" style="font-size: 60px;">access_time</i>                
            </div>

          </div>

          <div class="home-reservation">
              <span class="home-head">Coming Reservation</span>
              <div class="single-reservation"></div>
              <div class="single-reservation"></div>
              <div class="single-reservation"></div>
              <div class="single-reservation"></div>
          </div>

      </div>


    </div>
  </body>
</html>