<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <body>
    <div class="page-frame">

        <div class="home-top">
            <span class="home-username">Item Management</span>
        </div>

        <div>
            <button class="go-back" type="submit" name="logout-button" value="logout">
                <i class="material-icons" style="font-size: 30px; color:white;">keyboard_backspace</i>
            </button>

            <button class="home-logout" type="submit" name="backward" value="back">
                <i class="material-icons" style="font-size: 30px; color:white;">exit_to_app</i>
            </button>
        </div>
        
        <div class="bottom-div">
            <form class="form-div">
                <span class="normal-txt item-id">Item ID: 628374109831</span><br><br>
                <div class="form-scroll">
                    <div class="img-div">   
                        <label for="file-upload" class="custom-file-upload">Upload Image</label>
                        <input id="file-upload" name='upload_cont_img' type="file" style="display:none;">
                    </div>
                    
                    <div class="inputs-div">
                        <div class="lable-div">
                            <label for="item-name" class="lable-style1">Name</label>
                            <label for="item-price" class="lable-style2">Price</label>
                            <label for="item-type" class="lable-style2">Type</label>
                            <label for="item-source" class="lable-style2">Source</label>
                            <label for="item-status" class="lable-style2">Status</label>
                            <label for="item-description" class="lable-style2">Description</label>
                        </div>
                        <div class="item-input-div">
                            <input type="text" id="item-name" name="item-name" class="input-style">
                            <input type="number" id="item-price" name="item-price" class="input-style">
                            <input list="Types" id="item-type" name="item-type" class="input-style">
                            <datalist id="Types">
                                <option value="Furniture">
                                <option value="Electronices">
                            </datalist>
                            <input list="Sources" id="item-source" name="item-source" class="input-style">
                            <datalist id="Sources">
                                <option value="Donation">
                                <option value="Sale">
                            </datalist>
                            <input list="Status" name="item-status" id="item-status" class="input-style">
                            <datalist id="Status">
                                <option value="In Stock">
                                <option value="On Sale">
                                <option value="Sold Out">
                            </datalist>
                            <textarea id="item-description" name="item-description" class="textarea-style"></textarea>
                        </div>
                    </div>
                </div>
                <input type="submit" value="Submit" class="submit-style">
            </form>
        </div>
    </div>
  </body>
  <script>
    $('#file-upload').change(function() {
        var i = $(this).prev('label').clone();
        var file = $('#file-upload')[0].files[0].name;
        $(this).prev('label').text(file);
    });
  </script>
</html>