<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Almarai&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Outfit&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet" />
  </head>

  <body>
    <div class="v6_62">
      

      <div class="v6_73">
        <span class="v6_74">LIFE</span>
        <span class="v6_78">2</span>
      </div>

      <div class="v6_113">
        <div class="v6_80"></div>
        <div class="v6_81"></div>
        <form>
          <input class="login-input1" type="text" name="username" value="Enter staff acount">
          <input class="login-input2" type="text" name="password" value="Enter password">
        </form>

        <span class="v6_84">Forget Password ?</span>
      </div>

      <button type="button" class="login-button">
        Login
      </button>


      <div class="bottom-bar">
        <span class="bottom-head">Staff Management</span>
        <span class="bottom-body">Manage status of items on sale and update detail information for each items.</span>
      </div>

      <div class="v6_103">
        <div class="v6_104">
          <div class="v6_105"></div>
        </div>
        <div class="v6_106">
          <div class="v6_107"></div>
        </div>
        <div class="v6_108">
          <div class="v6_109"></div>
        </div>
        <div class="v6_110">
          <div class="v6_111"></div>
        </div>
      </div>
      
      <div class="v6_120"></div>
      <div class="v6_121"></div>
    </div>
  </body>
</html>