/* cyrillic-ext */
@font-face {
  font-family: 'Alatsi';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alatsi/v10/TK3iWkUJAxQ2nLN2FD8Gl-1PK62t.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* vietnamese */
@font-face {
  font-family: 'Alatsi';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alatsi/v10/TK3iWkUJAxQ2nLN2Fj8Gl-1PK62t.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Alatsi';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alatsi/v10/TK3iWkUJAxQ2nLN2Fz8Gl-1PK62t.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Alatsi';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alatsi/v10/TK3iWkUJAxQ2nLN2GT8Gl-1PKw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .page-frame-login {
    width: 390px;
    height: 844px;
    background: white;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .page-frame {
    width: 390px;
    height: 844px;
    background: var(--mainGreen2);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .bottom-div {
    width: 390px;
    height: 140px;
    background: white;
    opacity: 1;
    position: absolute;
    left: 0px;
    bottom: 0px;
    overflow: hidden;
  }
  .login-button {
    width: 328px;
    height: 40px;
    font-family: 'Alatsi';
    color: white;
    background: var(--mainGreen1);
    opacity: 1;
    position: absolute;
    left: 0px;
    top: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .logo {
    width: 156px;
    height: 96px;
    opacity: 1;
    position: absolute;
    top: 216px;
    left: 135px;
    overflow: hidden;
  }
  .logo-life {
    width: 139px;
    color: var(--mainGreen1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: 'Alatsi';
    font-weight: Bold;
    font-size: 64px;
    opacity: 1;
    text-align: center;
  }
  .logo-2 {
    width: 16px;
    color: var(--mainGreen1);
    position: absolute;
    top: 0px;
    left: 110px;
    font-family: 'Alatsi';
    font-weight: Bold;
    font-size: 32px;
    opacity: 1;
    text-align: center;
  }
  .login-div {
    width: 328px;
    height: 300px;
    opacity: 1;
    position: absolute;
    top: 345px;
    left: 30px;
    overflow: hidden;
  }
  .login-input1 {
    width: 328px;
    height: 48px;
    font-family: 'Alatsi';
    color: var(--mainGrey1);
    background: none;
    padding-left: 20px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0.6px solid var(--mainBlue1);
    border-radius: 10px;
    overflow: hidden;
  }

  .login-input2 {
    width: 328px;
    height: 48px;
    font-family: 'Alatsi';
    color: var(--mainGrey1);
    background: none;
    padding-left: 20px;
    opacity: 1;
    position: absolute;
    top: 59px;
    left: 0px;
    border: 0.6px solid var(--mainBlue1);
    border-radius: 10px;
    overflow: hidden;
  }
  .forget-password {
    width: 150px;
    color: var(--mainGreen1);
    position: absolute;
    top: 111px;
    left: 221px;
    font-family: 'Alatsi';
    border: none;
    background: none;
    font-weight: Regular;
    font-size: 13px;
    opacity: 1;
    text-align: left;
  }
  .bottom-bar {
    width: 390px;
    height: 140px;
    background: var(--mainGreen2);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    left: 0px;
    bottom: 0px;
    overflow: hidden;
  }
  .abondon1 {
    width: 390px;
    height: 140px;
    background: var(--mainGreen2);
    opacity: 0.8500000238418579;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .bottom-head {
    width: 242px;
    color: white;
    position: absolute;
    top: 24px;
    left: 29px;
    font-family: 'Alatsi';
    font-weight: Bold;
    font-size: 22px;
    opacity: 1;
    text-align: left;
  }
  .bottom-body {
    width: 343px;
    color: white;
    position: absolute;
    top: 65px;
    left: 29px;
    font-family: 'Alatsi';
    font-weight: Light;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .top-bar {
    width: 70px;
    height: 8px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 288px;
    overflow: hidden;
  }
  .circle1 {
    border-radius: 50%;
    position: absolute;
    width: 445px;
    height: 406px;
    left: -37px;
    top: -210px;
    background: #4B8173;
    opacity: 0.2;
  }
  .circle2 {
    border-radius: 50%;
    position: absolute;
    width: 342px;
    height: 342px;
    left: 207px;
    top: -175px;
    background: #4B8173;
    opacity: 0.2;
  }

  :root {
    --mainGreen1: #274E45;
    --mainGreen2: #4B8173;
    --mainGreen3: #B1CFC9;
    --mainBlue1: #222E3C;
    --mainBlue2: #455D74;
    --mainOrgange: #F26542;
    --mainYellow: #FEE44C;
    
    --mainGrey1: #6C6A6A;
    --mainGrey2: #F2F2F2;
  }