<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/user.css">
    <link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <body>
    <div class="page-frame">
        <div class="home-top">
            <button class="go-back" type="submit" name="logout-button" value="logout">
                <i class="material-icons" style="font-size: 40px; color:black;">chevron_left</i>
            </button>
            <button class="home-logout" type="submit" name="backward" value="back">
                <i class="material-icons" style="font-size: 30px; color:black;">menu</i>
            </button>
        </div>
        <button name="create-contract" value="new-contract" class="account-add">Add</button>
        <div class="account-list">
            <div class="items-block" type="submit" name="item-details-page1" value="item-details1">
                <p class="method-name">WeChat Pay</p>
                <div class="code-div"></div>
                <button class="code-detail" type="submit" name="logout-button" value="logout">
                    <i class="material-icons upload-icon" style="font-size: 40px;">chevron_right</i>
                </button>
            </div>
        </div>
    </div>
  </body>
</html>