<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/menu.css">
    <link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <body>
    <div class="page-frame">
        <div class="home-top">
            <button class="home-logout" type="submit" name="backward" value="back">
                <i class="material-icons" style="font-size: 30px; color:black;">close</i>
            </button>
        </div>
        <button class="login-button">Log in</button>
        <button class="signup-button">Sign up</button>

        <div class="menu-button-div">
            <button class="menu-button" type="submit" name="backward" value="back">
                <i class="material-icons" style="font-size: 40px; color:black;">home</i>
                <p>Home</p>
            </button>
            <button class="menu-button" type="submit" name="backward" value="back">
                <i class="material-icons" style="font-size: 40px; color:black;">storage</i>
                <p>My items</p>
            </button>
            <button class="menu-button" type="submit" name="backward" value="back">
                <i class="material-icons" style="font-size: 40px; color:black;">shop_two</i>
                <p>My purchase</p>
            </button>
            <button class="menu-button" type="submit" name="backward" value="back">
                <i class="material-icons" style="font-size: 40px; color:black;">account_balance_wallet</i>
                <p>My account</p>
            </button>
        </div>
        


    </div>
  </body>
</html>