<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/user.css">
    <link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <body>
    <div class="page-frame">
        <div class="home-top">
            <p class="user-title">My Account</p>

            <button class="home-logout" type="submit" name="backward" value="back">
                <i class="material-icons" style="font-size: 30px; color:black;">menu</i>
            </button>
        </div>

        <div class="content">
            <div class="inputs-div">
                <div class="lable-div">
                    <p class="user-style1">Username</p>
                    <p class="user-style2">User ID</p>
                    <label for="item-type" class="user-style2">Receiving Account QR Code</label>
                </div>
                <div class="item-input-div">
                    <p class="user-style1">Alice-7</p>
                    <p class="user-style2">824376283</p>
                    <div class="uploading">
                        <p class="user-style2 not-uploaded">Not Uploaded</p>
                        <button class="go-back" type="submit" name="logout-button" value="logout">
                            <i class="material-icons upload-icon" style="font-size: 30px;">chevron_right</i>
                        </button>
                    </div>
                    
                </div>
            </div>
        </div>
        <button name="create-contract" value="new-contract" class="account-style">Log out</button>
    </div>
  </body>
</html>