<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/items.css">
    <link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <body>
    <div class="page-frame">
        <div class="home-top">
            <p class="user-title">My Items</p>
            <button class="home-logout" type="submit" name="backward" value="back">
                <i class="material-icons" style="font-size: 30px; color:black;">menu</i>
            </button>
        </div>

        <button class="status-all">
            <p>All</p>
            <i class="material-icons all-icon" style="font-size: 15px;">chevron_right</i>
        </button>
        
        <div class="status-list">
            <button class="status-button">
                <i class="material-icons button-icon" style="font-size: 40px;">timelapse</i>
                <p>Processing</p>
            </button>
            <button class="status-button">
                <i class="material-icons button-icon" style="font-size: 40px;">attach_money</i>
                <p>On Sale</p>
            </button>
            <button class="status-button">
                <i class="material-icons button-icon" style="font-size: 40px;">shop</i>
                <p>Sold</p>
            </button>
            <button class="status-button">
                <i class="material-icons button-icon" style="font-size: 40px;">lock</i>
                <p>LIFE2</p>
            </button>
        </div>
        <div class="reservation-list">
            <p class="list-title">Reservation</p>
            <button class="reservation-button">
                <div class="date-time">
                    <p class="reservation-date">Dec 1st, 2022</p>
                    <p class="reservation-time">18:00-19:30</p>
                </div>
                <p class="reservation-amount">
                    <span class="reservation-count">6</span>
                    items
                </p>
                <i class="material-icons reservation-icon" style="font-size: 50px; color:white;">chevron_right</i>
            </button>
        </div>
    </div>
  </body>
</html>