<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/user.css">
    <link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <body>
    <div class="page-frame">
        <div class="home-top">
            <button class="go-back" type="submit" name="logout-button" value="logout">
                <i class="material-icons" style="font-size: 40px; color:black;">chevron_left</i>
            </button>

            <button class="home-logout" type="submit" name="backward" value="back">
                <i class="material-icons" style="font-size: 30px; color:black;">menu</i>
            </button>
        </div>

        <div class="content">
            <p>In LIFE2, we help you to deal with items in two different ways: to sell or to donate.</p>
            <br/>
            <p>If you want to sell the item, we will help you keep the item and sell it at the beginning of the next semester. Details can be found <span class="link-here">HERE</span>.</p>
            <br/>
            <p>If you want to donate the item, we will help to find out the best place for the item to go afterwards. Details can be found <span class="link-here">HERE</span>.</p>
        </div>
        <button name="create-contract" value="new-contract" class="create-style">Continue</button>
    </div>
  </body>
</html>