<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <body>
    <div class="page-frame-login">
        <div class="home-top-new">
            <p class="user-title">Sign Up</p>

            <button class="home-logout-new" type="submit" name="backward" value="back">
                <i class="material-icons" style="font-size: 30px; color:black;">menu</i>
            </button>
        </div>
        <div class="logo">
            <span class="logo-life">LIFE</span>
            <span class="logo-2">2</span>
        </div>
        <div class="signup-div">
            <form method="POST">
            <input class="login-input" type="text" name="username" placeholder="Create your username" required />
            <input class="login-input" type="password" name="password" placeholder="Enter your password" required />
            <input class="login-input" type="password" name="password" placeholder="Confirm your password again" required />
            <button class="signup-button" type="submit" name="submit-button" value="Submit">Sign up</button>
            </form>
        </div>
    </div>
  </body>
</html>